*.DS_Store
*.class
*~
*.bak
*.off
*.old
*.java.orig

# Eclipse
.classpath
.project
.settings

# IDEA
*.iml
*.ipr
*.iws
/.idea/

licenseheader.txt
nb-configuration.xml

*/nbproject/
/amisc/
/target/
/nbproject/
/docker-compose.override.yml
/repository/
/models/
/amisc/
/lightside/toolkits/categories/GN_Stretchy_Pattern_Categories_01-05-2017/
